[submodule "integration_code/ha_City-Visitor-Parking"]
	path = integration_code/ha_City-Visitor-Parking
	url = https://github.com/sir-Unknown/ha_City-Visitor-Parking
[submodule "agent-container"]
	path = .devcontainer
	url = https://github.com/thomwiggers/agent-container.git
